//custom css reset
@use './reset';

// google fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.nav {
    background-color: #9370DB;
    display: flex;
    justify-content: space-between;
    height: 9vh;
    position: relative;

    &__logo {
        width: 9rem;
    }

    &__menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 45%;

        @media (max-width: 850px) {
            position: absolute;
            right: 0;
            top: 9vh;
            background-color: #9370DB;
            display: flex;
            flex-direction: column;
            min-height: 91vh;
            transform: translate(100%);
            transition: .3s ease-in-out;
        }

        @media (max-width: 530px) {
            width: 100%;
        }
    }

    // menu link styles with underline animation
    &__links {
        text-decoration: none;
        color: whitesmoke;
        font-weight: 500;
        font-size: 1.8rem;
        transition: color .2s ease-in-out;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0%;
            background-color: #4e406a;
            height: 2px;
            bottom: 0;
            left: 0;
            border-radius: 25px;
            transition: width 0.3s ease-in-out;
        }

        &:hover,
        &:hover::after {
            width: 100%;
            color: #4e406a;
        }
    }

    //burger styles
    &__burger {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        display: none;
        
        @media (max-width: 850px) {
            display: block;
            transition: all .3s ease-in-out;
        }
    }

    &__burger-line {
        width: 3rem;
        height: .3rem;
        background-color: #4e406a;
        margin: .8rem;
        border-radius: 10px;
    }
}


.active {
    transform: translate(0%);
}